<section id="buttons">
  <h6 class="label label--section">Buttons</h6>
  <h2>Buttons</h2>
  <p>Buttons communicate the action that will occur when the user touches them.</p>
  <div class="btns-wrapper">
    <div class="btn-wrapper">
      <h6 class="label label--primary">1. Primary</h6>
      <span class="code-img"></span>
      <button class="btn btn--primary">Save</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--primary"&gt;Save&lt;/button&gt;
        </code>
      </pre>
    </div>
    <div class="btn-wrapper">
      <h6 class="label label--primary">2. Secondary</h6>
      <span class="code-img"></span>
      <button class="btn btn--secondary">Save</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--secondary"&gt;Save&lt;/button&gt;
        </code>
      </pre>
    </div>
    <div class="btn-wrapper">
      <h6 class="label label--primary">3. Cancel</h6>
      <span class="code-img"></span>
      <button class="btn btn--cancel">Cancel</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--cancel"&gt;Cancel&lt;/button&gt;
        </code>
      </pre>
    </div>
    <div class="btn-wrapper">
      <h6 class="label label--primary">4. Disabled</h6>
      <span class="code-img"></span>
      <button class="btn btn--disabled">Save</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--disabled"&gt;Save&lt;/button&gt;
        </code>
      </pre>
    </div>
    <div class="btn-wrapper">
      <h6 class="label label--primary">5. Delete/Danger</h6>
      <span class="code-img"></span>
      <button class="btn btn--danger">Delete</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--danger"&gt;Delete&lt;/button&gt;
        </code>
      </pre>
    </div>
    <div class="btn-wrapper">
      <h6 class="label label--primary">6. Large</h6>
      <span class="code-img"></span>
      <button class="btn btn--primary btn--large">Large Button</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--primary btn--large"&gt;Load More&lt;/button&gt;
        </code>
      </pre>
    </div>
    <div class="btn-wrapper">
      <h6 class="label label--primary">7. Fluid and large</h6>
      <span class="code-img"></span>
      <button class="btn btn--secondary btn--large btn--fluid">Load More</button>
      <pre>
        <code class="language-markup">
          &lt;button class="btn btn--secondary btn--large btn--fluid"&gt;Load More&lt;/button&gt;
        </code>
      </pre>
    </div>
  </div>
</section>
