<section id="cards">
  <h6 class="label label--section">Cards</h6>
  <h2>Cards</h2>
  <p>There are two different card styles: one with a header and one without.</p>
  <h6 class="label label--primary">1. Card, with header</h6>
  <span class="code-img"></span>
  <div class="card card--header">
    <h3>Card Header</h3>
    <div class="card--content">
      <p>Put whatever you want in this space. Maybe a paragraph, like the one you're reading now.</p>
      <button type="button" name="button" class="btn btn--primary">Or a button</button>
      <p><a class="link" href="/1.0.0">Perhaps a link?</a></p>
    </div>
  </div>
  <pre>
    <code class="language-markup">
      &lt;div class="card card--header"&gt;
        &lt;h3&gt;Card Header&lt;/h3&gt;
        &lt;div class="card--content"&gt;
          &lt;p&gt;Put whatever you want in this space. Maybe a paragraph, like the one you're reading now.&lt;/p&gt;
          &lt;button type="button" name="button" class="btn btn--primary"&gt;Or a button&lt;/button&gt;
          &lt;p&gt;&lt;a class="link" href="/1.0.0"&gt;Perhaps a link?&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </code>
  </pre>
  <h6 class="label label--primary">2. Card, without header</h6>
  <span class="code-img"></span>
  <div class="card card--plain">
    <div class="card--content">
      <p>Put whatever you want in this space. Maybe a paragraph, like the one you're reading now.</p>
      <button type="button" name="button" class="btn btn--primary">Or a button</button>
      <p><a class="link" href="/1.0.0">Perhaps a link?</a></p>
    </div>
  </div>
  <pre>
    <code class="language-markup">
      &lt;div class="card card--plain"&gt;
        &lt;div class="card--content"&gt;
          &lt;p&gt;Put whatever you want in this space. Maybe a paragraph, like the one you're reading now.&lt;/p&gt;
          &lt;button type="button" name="button" class="btn btn--primary"&gt;Or a button&lt;/button&gt;
          &lt;p&gt;&lt;a class="link" href="/1.0.0"&gt;Perhaps a link?&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </code>
  </pre>
</section>