<section id="footer">
  <h6 class="label label--section">Footer</h6>
  <h2>Footer</h2>
  <p>If you need a footer, use this. It may be worth including relevant links to Github, etc.</p>
  <h6 class="label label--primary">1. Footer</h6>
  <span class="code-img"></span>
  <footer style="position: relative;">
    <p>Maybe a version of your tool goes here.</p>
    <p><a class="link" target="_blank" href="https://github.dowjones.net">Github repo</a>.</p>
  </footer>
  <pre>
    <code class="language-markup">
      &lt;footer&gt;
        &lt;p&gt;Maybe a version of your tool.&lt;/p&gt;
        &lt;p&gt;&lt;a class="link" target="_blank" href="https://github.dowjones.net"&gt;Github repo&lt;/a&gt;.&lt;/p&gt;
      &lt;/footer&gt;
    </code>
  </pre>
</section>
