<section id="intros">
  <h6 class="label label--section">Intros</h6>
  <h2>Page/App Introduction</h2>
  <p>Use this component to introduce why your app exists and what functions it serves. This also serves well as a high-level page description if you app contains multiple pages.</p>
  <p>The introduction component will normally be the inside the first <span class="inline-code">section</span> element in the <span class="inline-code">body</span> of your app.</p>

  <pre>
    <code class="language-markup">
      &lth6 class="label label--section"&gt;Intros&lt/h6&gt;
      &lth2&gt;Page/App introduction&lt/h2&gt;
      &ltp&gt;Use this component to introduce why your app exists and what functions it serves.
      This also serves well as a high-level page description if you app contains multiple pages.&lt/p&gt;
    </code>
  </pre>
</section>
