<section id="links">
  <h6 class="label label--section">Links</h6>
  <h2>Links</h2>
  <p>There are two styles: active and normal.</p>
  <h6 class="label label--primary">1. Active</h6>
  <span class="code-img"></span>
  <a class="link link--active" href="/">Active Link</a>
  <pre>
    <code class="language-markup">
      &lt;a class="link link--active" href="/"&gt;Active Link&lt;/a&gt;
    </code>
  </pre>
  <h6 class="label label--primary">2. Normal</h6>
  <span class="code-img"></span>
  <a class="link" href="/" role="button">Normal Link</a>
  <pre>
    <code class="language-markup">
      &lt;a class="link" href="/"&gt;Active Link&lt;/a&gt;
    </code>
  </pre>
</section>
