<section id="pagination">
  <h6 class="label label--section">Pagination</h6>
  <h2>Pagination</h2>
  <p>Breaking out large datasets into smaller, more manageable pages. If you're using React, we recommend <a href="https://github.com/AdeleD/react-paginate" target="_blank" class="link" style="margin-right: 0;">this pagination library</a>.</p>
  <h6 class="label label--primary">1. Pagination</h6>
  <span class="code-img"></span>
  <ul class="pagination">
    <li><a href="/"><span>Prev</span></a></li>
    <li><a href="/">1</a></li>
    <li><a href="/">2</a></li>
    <li><a href="/">3</a></li>
    <li><a href="/" class="current">4</a></li>
    <li><a href="/">5</a></li>
    <li><a href="/"><span>Next</span></a></li>
  </ul>
  <pre>
    <code class="language-markup">
      &lt;ul class="pagination"&gt;
        &lt;li&gt;&lt;a href="/"&gt;&lt;span&gt;Prev&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="/"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="/"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="/"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="/" class="current"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="/"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="/"&gt;&lt;span&gt;Next&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    </code>
  </pre>
</section>
