<section id="structure">
  <h6 class="label label--section">Structure</h6>
  <h2>Markup Structure</h2>
  <p>The page should be constructed as follows: n number of <span class="inline-code">section</span> elements are housed within a <span class="inline-code">main</span> element. The <span class="inline-code">header</span> will be a sibling of <span class="inline-code">main</span>, and everything aforementioned is housed within the <span class="inline-code">body</span>.</p>
  <p>The <span class="inline-code">main</span> element in centered hoizontally on the page with 40px of margin on the top and bottom. Each <span class="inline-code">section</span> has a 40px margin-bottom, spacing out the content nicely.</p>

  <pre>
    <code class="language-markup">
      &lt;body&gt;
        &lt;header&gt;...&lt;/header&gt;
        &lt;main&gt;
          &lt;section&gt;...&lt;/section&gt;
          &lt;section&gt;...&lt;/section&gt;
          &lt;section&gt;...&lt;/section&gt;
        &lt;/main&gt;
      &lt;/body&gt;
    </code>
  </pre>
</section>
