<section id="tables">
  <h6 class="label label--section">Tables</h6>
  <h2>Table Components</h2>
  <p>Organize and display data with two distict table styles: plain and bordered.</p>

  <h6 class="label label--primary">1. Plain</h6>
  <span class="code-img"></span>
  <table class="table table--plain">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year Published</th>
        <th>Protagonist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Crime and Punishment</td>
        <td>1866</td>
        <td>Rodion Raskolnikov</td>
      </tr>
      <tr>
        <td>The Idiot</td>
        <td>1868–69</td>
        <td>Prince Myshkin</td>
      </tr>
      <tr>
        <td>The Brothers Karamazov</td>
        <td>1879–80</td>
        <td>Alyosha Karamazov</td>
      </tr>
    </tbody>
  </table>
  <pre>
    <code class="language-markup">
      &lt;table class="table table--plain"&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Title&lt;/th&gt;
            &lt;th&gt;Year Published&lt;/th&gt;
            &lt;th&gt;Protagonist&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Crime and Punishment&lt;/td&gt;
            &lt;td&gt;1866&lt;/td&gt;
            &lt;td&gt;Rodion Raskolnikov&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            ...
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>

  <h6 class="label label--primary">1a. Plain with row labels</h6>
  <span class="code-img"></span>
  <table class="table table--plain">
    <tbody>
      <tr>
        <td>
          <h6 class="label label--primary">Top three guitarists: </h6>
        </td>
        <td>Jimi Hendrix</td>
        <td>Eric Clapton</td>
        <td>Eddie Van Halen</td>
      </tr>
      <tr>
        <td>
          <h6 class="label label--primary">Largest countries: </h6>
        </td>
        <td>1. Russia</td>
        <td>2. Canada</td>
        <td>3. United States</td>
      </tr>
      <tr>
        <td>
          <h6 class="label label--primary">Most-spoken languages: </h6>
        </td>
        <td>1. Chinese</td>
        <td>2. Spanish</td>
        <td>3. English</td>
      </tr>
    </tbody>
  </table>
  <pre>
    <code class="language-markup">
      &lt;table class="table table--plain"&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;
              &lt;h6 class="label label--primary"&gt;Top three guitarists:&lt;/h6&gt;
            &lt;/td&gt;
            &lt;td&gt;Jimi Hendrix&lt;/td&gt;
            &lt;td&gt;Eric Clapton&lt;/td&gt;
            &lt;td&gt;Eddie Van Halen&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            ...
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>

  <h6 class="label label--primary">2. Bordered</h6>
  <span class="code-img"></span>
  <table class="table table--bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year Published</th>
        <th>Protagonist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Crime and Punishment</td>
        <td>1866</td>
        <td>Rodion Raskolnikov</td>
      </tr>
      <tr>
        <td>The Idiot</td>
        <td>Prince Myshkin</td>
        <td>1868–69</td>
      </tr>
      <tr>
        <td>The Brothers Karamazov</td>
        <td>1879–80</td>
        <td>Alyosha Karamazov</td>
      </tr>
    </tbody>
  </table>
  <pre>
    <code class="language-markup">
      &lt;table class="table table--bordered"&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Title&lt;/th&gt;
            &lt;th&gt;Year Published&lt;/th&gt;
            &lt;th&gt;Protagonist&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Crime and Punishment&lt;/td&gt;
            &lt;td&gt;1866&lt;/td&gt;
            &lt;td&gt;Rodion Raskolnikov&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            ...
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
</section>
