<section id="toaster">
  <h6 class="label label--section">Toaster</h6>
  <h2>Toaster, a.k.a. Snackbar</h2>
  <p>Brief feedback for an action through a message at the bottom of the screen. We recommend <a class="link" href="https://github.com/ZitRos/toaster-js" target="_blank">this library</a>.</p>
  <p>Examples: <span class="link toaster-link" data-toast="DONE">success</span> | <span class="link toaster-link" data-toast="ERROR">error</span> | <span class="link toaster-link" data-toast="MESSAGE">message</span></p>

  <h6 class="label label--primary">1. Success</h6>
  <span class="code-img"></span>
  <div class="toast" style="opacity: 1; bottom: 0px;">
    <div class="body done">Updated!</div>
  </div>
  <pre>
    <code class="language-markup">
      &ltdiv class="toast" style="opacity: 1; bottom: 0px;"&gt;
        &ltdiv class="body done"&gt;Updated!&lt/div&gt;
      &lt/div&gt;
    </code>
  </pre>

  <h6 class="label label--primary">2. Error</h6>
  <span class="code-img"></span>
  <div class="toast" style="opacity: 1; bottom: 0px;">
    <div class="body error">Something went wrong.</div>
  </div>
  <pre>
    <code class="language-markup">
      &ltdiv class="toast" style="opacity: 1; bottom: 0px;"&gt;
        &ltdiv class="body error"&gt;Something went wrong.&lt/div&gt;
      &lt/div&gt;
    </code>
  </pre>

  <h6 class="label label--primary">3. Message</h6>
  <span class="code-img"></span>
  <div class="toast" style="opacity: 1; bottom: 0px;">
    <div class="body message">Message displayed here.</div>
  </div>
  <pre>
    <code class="language-markup">
      &ltdiv class="toast" style="opacity: 1; bottom: 0px;"&gt;
        &ltdiv class="body message"&gt;Message displayed here.&lt/div&gt;
      &lt/div&gt;
    </code>
  </pre>
</section>
