<section id="typography">
  <h6 class="label label--section">Typography</h6>
  <h2>Typography Styles</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nisi eligendi iure eveniet rerum autem soluta illo, rem, ullam iusto!</p>

  <h6 class="label label--primary">1. Big number</h6>
  <span class="code-img"></span>
  <span class="big-number">1,234</span>
  <pre>
    <code class="language-markup">
      &lt;span class="big-number"&gt;1,234&lt;/span&gt;
    </code>
  </pre>

  <h6 class="label label--primary">2. Inline code</h6>
  <span class="code-img"></span>
  <p>This is an <span class="inline-code">inline code</span> example.</p>
  <pre>
    <code class="language-markup">
      &lt;p&gt;This is an &lt;span class="inline-code"&gt;inline code&lt;/span&gt; example.&lt;/p&gt;
    </code>
  </pre>

  <h6 class="label label--primary">3. Label style #1</h6>
  <span class="code-img"></span>
  <h6 class="label label--primary" style="display: block;">Primary Label Example</h6>
  <pre>
    <code class="language-markup">
      &lt;h6 class="label label--primary"&gt;Primary Label Example&lt;/h6&gt;
    </code>
  </pre>

  <h6 class="label label--primary">5. Label style #2</h6>
  <span class="code-img"></span>
  <h6 class="label label--secondary">Secondary Label Example</h6>
  <pre>
    <code class="language-markup">
      &lt;h6 class="label label--secondary"&gt;Secondary Label Example&lt;/h6&gt;
    </code>
  </pre>

  <h6 class="label label--primary">4. Label style #3</h6>
  <span class="code-img"></span>
  <h6 class="label label--section">Section Label Example</h6>
  <pre>
    <code class="language-markup">
      &lt;h6 class="label label--section"&gt;Section Label Example&lt;/h6&gt;
    </code>
  </pre>
</section>
